@charset "utf-8";
/*==============================css reset start==============================*/
*{margin:0;padding:0;}
/*article,aside,footer,header,hgroup,nav,section,audio,canvas,video {display: block;}*/
html {font-size:100px; color:#666; overflow: hidden;}
body{font-size: 0.4rem; overflow: hidden;}
ol,li{list-style: none;}
/*.ellipsis { white-space:nowrap; text-overflow:ellipsis; overflow:hidden}*/

body {
    color:#333;
    font-family:"Microsoft YaHei", Arial, Verdana, serif;
    font-size:14px;
    line-height:1.4;
    -webkit-user-select:none; /* forbid select */
    -moz-user-select:none;
    -o-user-select:none;
    -webkit-touch-callout:none; /* forbid callout */
    -moz-touch-callout:none;
    -o-touch-callout:none;
}

/*------header start-------*/
header {
    position: fixed;
    width: 100%;
    min-width: 800px;
    top: 0;
    left: 0;
    height: 76px;
    z-index: 1;
    background: #f8f8f8;
    box-shadow: 0 0 10px #ccc;
    -webkit-transition: all 5s ease;
    -moz-transition: all 5s ease;
    -o-transition: all 5s ease;
    transition: all 5s ease;
}
#logo {
    float: left;
    margin: 5px 0 0 30px;
}
header img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    -webkit-transition: box-shadow 0.5s;
    -moz-transition: box-shadow 0.5s;
    -o-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
}
header img:hover {
    box-shadow: 0 0 15px #1FAEFF;
}
#header_img,
#header_p {
    float: left;
}
#header_p {
    margin-left: 15px;
    text-align: center;
    color: #000;
}
#header_p1 {
    margin: 0px 15px 5px;
    padding: 5px 15px;
    width: 80px;
    border-bottom: 1px solid #333;
}
#header_p2 {
    padding: 0 15px;
}
nav {
    margin-top: 26px;
    margin-right: 60px;
}
nav {
    float: right;
}
nav li {
    float: left;
    margin: 0px 25px;
}
nav li a {
    padding: 25px 0;
    position: relative; 
    color: #666;
    text-decoration: none;
}
nav li a:after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 2px;
    background: #1FAEFF;
    opacity: 0;
    -webkit-transition: .2s ease-in;
    -moz-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
}
nav li a:hover {
    color: #000;
}
nav li a:hover:after {
    left: 0;
    right: 0;
    opacity: 1;
}
/*@media screen and (max-width:1366px){
header {
    height: 60px;
}
#logo {
    margin: 0 30px;
}
nav {
    margin-top: 18px;
}
}
*/
/*------header ended------*/


/*------warpper start-----*/
.wrapper{
    width:100%;
    display:block;
    min-width:320px;
}
#wrap{
    /*position:relative;*/
    min-height:100%;
    _height:100%;
    min-height: 600px;
    height:100%;
    width:100%;
    margin-top:0px;
    margin-bottom:40px;
}
#pages{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
    padding-bottom:40px;
}
.page{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.page1,
.page2,
.page3,
.page4,
.page5,
.page6,
.page7{
    background: url(../image/bg6.jpg) top left no-repeat;
    background-size:auto;
}


/*
@-webkit-keyframes 'updown' {
    from {}
    50% {
        -moz-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    to {
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
*/

.page-menu{
    position: absolute;
    top: 30%;
    right: 10px;
}

.page-menu li{
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: rgba(77, 120, 255, .3);
    cursor: pointer;
}

.page-menu li.active{
    background-color: rgba(77, 120, 255, 1);
}

.page-menu li:hover{
    background-color: red;
}

/*------warpper ended-----*/

/*------footer start------*/
footer{
    position:absolute;
    display:block;
    width:100%;
    height:40px;
    background-color:#f8f8f8;
    border-top:1px solid #ccc;
    box-shadow:10px 0 0 #ccc;
    bottom:0px;
    -moz-bottom:0px;
}

footer div{
    text-align: center;
}

/*------footer end------*/

/*------page1 start-----*/
.page1 a.highlight{
    color:#1a8bff;
}
.page1 a.highlight:hover{
    color:#008a75;
}
.page1 .pp-tableCell {
    /*display: table-cell;*/
    vertical-align: middle;
    width: -1px;
    height: 50%;
    margin-top: 8%;
}
.page1 #mars{
    width:256px;
    height:256px;
    border:10px solid #80bfff;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%
}
.page1 h1 {
    font-family: Lato, 'Microsoft YaHei', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 2px #80bfff,2px 4px #003266;
    text-align: center;
}
.page1 #subtitle{
    font-size: 25px;
    color:#3399ff;
}
.page1 h4{
    font-size:20px;
}

/*-------page1 end------*/

/*-------page2 start----*/
#page2_title{    
    font-family: Lato, 'Microsoft YaHei', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 2px #80bfff,2px 4px #003266;
    text-align: center;
}
.t4 {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-image: linear-gradient(#f9fdff, #d9eaf8);
    background: -moz-linear-gradient(#f9fdff, #d9eaf8);
    z-index: 11;
    font-size: 20px;;
    color: #8da6b8;
    font-family: Arial;
    left:50%;
    margin-left:-90px;
    margin-top:10px;
}

.t4 i {
    font-style: normal
}

.hour {
    position: absolute;
}

.hour3 {
    right: 5px;
    top: 50%;
    margin-top: -11px;

}

.hour6 {
    left: 50%;
    bottom: 5px;
    margin-left: -5px;

}

.hour9 {
    left: 5px;
    top: 50%;
    margin-top: -11px;

}

.hour12 {
    left: 50%;
    top: 5px;
    margin-left: -10px;
}

#miao, #fen, #shi {
    position: absolute;
    left: 50%;
    height: 180px;
    width: 10px;
    margin-left: -5px;
}

#miao {
    z-index: 23;
}

#fen {
    z-index: 22;

}

#shi {
    z-index: 21;

}
#shi:after{
    content: "";
    height: 50px;
    width: 6px;
    position: absolute;
    top: 55px;
    left:2px;
    background: #1aa9d8;
    border-radius: 8px 8px 8px 8px;
    z-index: -1;
}
#fen:after{
    content: "";
    height: 70px;
    width: 4px;
    position: absolute;
    top: 35px;
    left:3px;
    background: #23bcef;
    border-radius: 8px 8px 8px 8px;
    z-index: -1;
}
#miao:after{
    content: "";
    height: 80px;
    width: 1px;
    position: absolute;
    top: 70px;
    left:4px;
    background: #0dc1fd;
    z-index: -1;
    /*box-shadow: 5px 10px 8px 3px #B2C3D4;*/

}

#point{ 
    position: absolute; 
    left:50%; top: 50%; 
    width: 0px; height:16px; 
    margin-left: -8px; 
    margin-top: -8px; 
    z-index: 999;    b
    order-radius: 50%;  
    box-shadow: 0px 3px 8px -1px #0f4873;
}
#point:before,#point:after{
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    top:0%;
    background: #8ba3b6;
    border-radius: 50%;
    z-index: 1; }

#point:before {
    width: 16px; height:16px;
}
#point:after {
    background: #cee3ec; left: 3px; top:3px;
}

.demo-text {
    position: relative;
    margin-top:10px;
    height:600px;
    width:70%;
    left:50%;
    margin-left: -35%;
    display: block;
    color: #4CB7DA;
    font-size: 30px;
    font-family: '微软雅黑';
    font-weight: 800;
    letter-spacing: -0.02em;
    line-height: 1.2em;
    text-align: left;
}

.demo-text p{
    text-indent: 2em;
}
/*-------page2 end------*/

/*-------page3 start----*/
#page3_title{    
    font-family: Lato, 'Microsoft YaHei', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 2px #80bfff,2px 4px #003266;
    text-align: center;
}
#skill{
    width:800px;
    position: absolute;
    left:50%;
    margin-left:-400px;
}
.skill_list_content {
    float: left;
    margin: 0 85px;
    position: relative;
    height: 400px;
    visibility: hidden;
}
.skill_list_content b {
    position: absolute;
    top: 3%;
    left: -11%;
    width: 130%;
    height: 40%;
    background: #000;
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    cursor: pointer;
}
.skill_list_content b:hover {
    opacity: 0.4;
}
.skill_icon {
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 30px auto;
}
.skill_name {
    text-align: center;
    width: 100%;
    position: relative;
}
.skill_flag {
    margin: 20px auto;
    width: 20px;
    height: 20px;
    background: url(../image/skill_flag.png);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
.skill_flag_scale {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.skill_int {
    position: absolute;
    top: 220px;
    width: 482px;
    left: -136px;
    font-size: 14px;
    line-height: 20px;
    display: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    background: #c8c8dc;
}
.skill_int li {
    font-size: 15px;
    margin-left:5px;
}
.skill_scale {
    -webkit-animation: skill_scale 1s;
    -moz-animation: lskill_scale 1s;
    -o-animation: skill_scale 1s;
    animation: skill_scale 1s;
    visibility: visible;
}
.page3 li{
    list-style: disc;
}

/*-------page3 end------*/

/*-------page4 start----*/
#page4_title{
    font-family: Lato, 'Microsoft YaHei', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 2px #80bfff,2px 4px #003266;
    text-align: center;
}
.war-content-w{
    margin-top:10px;
    width: 1100px;
    height: auto;
    margin: 0 auto;
}
.war-content-skill{
    width: 900px;
    min-height: 500px;
    height: 70%;
    margin-left: 100px;
}
.skill_list{
    height: 20px;
    background: rgba(255,255,255,0.6);
    margin: 8px 0;
    padding: 4px;
    border-radius: 20px;
}
.course{
    float: left;
    padding: 0 10px;
    width: 100px;
    font-size: 16px;
    text-align: right;
    height: 20px;
    line-height: 20px;
}
.courses{
    height: 20px;
    border-radius: 20px;
    line-height: 20px;
    text-align: center;
    color: #666;
}

#HTML{
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
}
#HTML::before{
    content: '80%';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(255,255,255,0.5);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
#HTML:hover::before{
    opacity: 1;
    width: 100%;
    background-color:rgb(252, 199, 72);
    border-radius: 20px;
}

#CSS{
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
}
#CSS::before{
    content: '80%';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(255,255,255,0.5);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
#CSS:hover::before{
    opacity: 1;
    width: 100%;
    background-color:rgb(255, 102, 255);
    border-radius: 20px;
}

#JavaScript{
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
}
#JavaScript::before{
    content: '65%';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(255,255,255,0.5);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
#JavaScript:hover::before{
    opacity: 1;
    width: 100%;
    background-color:rgb(186, 223, 144);
    border-radius: 20px;
}

#JQuery{
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
}
#JQuery::before{
    content: '60%';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(255,255,255,0.5);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
#JQuery:hover::before{
    opacity: 1;
    width: 100%;
    background-color:rgb(242, 184, 139);
    border-radius: 20px;
}

#Ajax{
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
}
#Ajax::before{
    content: '50%';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(255,255,255,0.5);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
#Ajax:hover::before{
    opacity: 1;
    width: 100%;
    background-color:rgb(145, 224, 241);
    border-radius: 20px;
}

#HTML5{
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
}
#HTML5::before{
    content: '75%';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(255,255,255,0.5);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
#HTML5:hover::before{
    opacity: 1;
    width: 100%;
    background-color:rgb(20, 205, 214);
    border-radius: 20px;
}

#CSS3{
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
}
#CSS3::before{
    content: '75%';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(255,255,255,0.5);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
#CSS3:hover::before{
    opacity: 1;
    width: 100%;
    background-color:rgb(243, 107, 107);
    border-radius: 20px;
}

#PHP{
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
}
#PHP::before{
    content: '60%';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(255,255,255,0.5);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
#PHP:hover::before{
    opacity: 1;
    width: 100%;
    background-color:rgb(41, 222, 107);
    border-radius: 20px;
}

#SQL{
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
}
#SQL::before{
    content: '40%';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(255,255,255,0.5);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
#SQL:hover::before{
    opacity: 1;
    width: 100%;
    background-color:rgb(255, 242, 40);
    border-radius: 20px;
}

#JAVA{
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
}
#JAVA::before{
    content: '75%';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(255,255,255,0.5);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
#JAVA:hover::before{
    opacity: 1;
    width: 100%;
    background-color:rgb(247, 142, 166);
    border-radius: 20px;
}

#C_plus{
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
}
#C_plus::before{
    content: '70%';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(255,255,255,0.5);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
#C_plus:hover::before{
    opacity: 1;
    width: 100%;
    background-color:rgb(23, 200, 168);
    border-radius: 20px;
}

#Bootstrap{
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
}
#Bootstrap::before{
    content: 'Learning';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(255,255,255,0.5);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
#Bootstrap:hover::before{
    opacity: 1;
    width: 100%;
    background-color:rgb(129, 168, 246);
    border-radius: 20px;
}

/*------page4 end------*/

/*------page5 start----*/
#page5_title{
    font-family: Lato, 'Microsoft YaHei', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 2px #80bfff,2px 4px #003266;
    text-align: center;
}
.page5 .container{
    width:426px;
    position: absolute;
    left: 50%;
    margin-left: -213px;
}
.ac-container{
    width: 425px;
    margin: 10px auto 30px auto;
    text-align: left;
}
.ac-container label{
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 19px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -moz-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
    box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
        0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover{
    background: #fff;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    background: #c6e1ec;
    color: #3d7489;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
    box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container input{
    display: none;
}
.ac-container article{
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
} 
.ac-container ul{
    padding: 20px;
}
.ac-container li{
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    list-style-type: disc;
    font-style: italic;
    color: #777;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    display: list-item;
    text-align: -webkit-match-parent;
    text-align: -moz-match-parent;
    text-align: -o-match-parent;
}
.ac-container input:checked ~ article{
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
    height: 310px;
}
.ac-container input:checked ~ article.ac-medium{
    height: 180px;
}
.ac-container input:checked ~ article.ac-large{
    height: 200px;
}

/*------page5 end------*/

/*------page6 start----*/

#page6_title{
    font-family: Lato, 'Microsoft YaHei', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 2px #80bfff,2px 4px #003266;
    text-align: center;
    width: auto;
}
@-webkit-keyframes bigAssButtonPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 25px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 50px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 25px #333; }
}
@-moz-keyframes bigAssButtonPulse {
  from { background-color: #749a02; -moz-box-shadow: 0 0 25px #333; }
  50% { background-color: #91bd09; -moz-box-shadow: 0 0 50px #91bd09; }
  to { background-color: #749a02; -moz-box-shadow: 0 0 25px #333; }
}


@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}
@-moz-keyframes greenPulse {
  from { background-color: #749a02; -moz-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -moz-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -moz-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes bluePulse {
  from { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #2daebf; -webkit-box-shadow: 0 0 18px #2daebf; }
  to { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
}
@-moz-keyframes bluePulse {
  from { background-color: #007d9a; -moz-box-shadow: 0 0 9px #333; }
  50% { background-color: #2daebf; -moz-box-shadow: 0 0 18px #2daebf; }
  to { background-color: #007d9a; -moz-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes redPulse {
  from { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #e33100; -webkit-box-shadow: 0 0 18px #e33100; }
  to { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
}
@-moz-keyframes redPulse {
  from { background-color: #bc330d; -moz-box-shadow: 0 0 9px #333; }
  50% { background-color: #e33100; -moz-box-shadow: 0 0 18px #e33100; }
  to { background-color: #bc330d; -moz-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes magentaPulse {
  from { background-color: #630030; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #a9014b; -webkit-box-shadow: 0 0 18px #a9014b; }
  to { background-color: #630030; -webkit-box-shadow: 0 0 9px #333; }
}
@-moz-keyframes magentaPulse {
  from { background-color: #630030; -moz-box-shadow: 0 0 9px #333; }
  50% { background-color: #a9014b; -moz-box-shadow: 0 0 18px #a9014b; }
  to { background-color: #630030; -moz-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes orangePulse {
  from { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #ff5c00; -webkit-box-shadow: 0 0 18px #ff5c00; }
  to { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
}
@-moz-keyframes orangePulse {
  from { background-color: #d45500; -moz-box-shadow: 0 0 9px #333; }
  50% { background-color: #ff5c00; -moz-box-shadow: 0 0 18px #ff5c00; }
  to { background-color: #d45500; -moz-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes orangellowPulse {
  from { background-color: #fc9200; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #ffb515; -webkit-box-shadow: 0 0 18px #ffb515; }
  to { background-color: #fc9200; -webkit-box-shadow: 0 0 9px #333; }
}
@-moz-keyframes orangellowPulse {
  from { background-color: #fc9200; -moz-box-shadow: 0 0 9px #333; }
  50% { background-color: #ffb515; -moz-box-shadow: 0 0 18px #ffb515; }
  to { background-color: #fc9200; -moz-box-shadow: 0 0 9px #333; }
}



.green.button{
    background-color: #749a02;
}
.blue.button{
    background-color: #007d9a;
}
.red.button{
    background-color: #bc330d;
}
.magenta.button{
    background-color: #630030;
}
.orange.button{
    background-color: #d45500;
}
.orangellow.button{
    background-color: #fc9200;
}

.green.button { -webkit-animation-name: greenPulse; -webkit-animation-duration: 3s;-webkit-animation-iteration-count: infinite;
                -moz-animation-name: greenPulse; -moz-animation-duration: 3s;-moz-animation-iteration-count: infinite; }
.blue.button { -webkit-animation-name: bluePulse; -webkit-animation-duration: 4s;-webkit-animation-iteration-count: infinite; 
               -moz-animation-name: bluePulse; -moz-animation-duration: 4s;-moz-animation-iteration-count: infinite;}
.red.button { -webkit-animation-name: redPulse; -webkit-animation-duration: 1s;-webkit-animation-iteration-count: infinite; 
              -moz-animation-name: redPulse; -moz-animation-duration: 1s;-moz-animation-iteration-count: infinite;}
.magenta.button { -webkit-animation-name: magentaPulse; -webkit-animation-duration: 2s;-webkit-animation-iteration-count: infinite; 
                  -moz-animation-name: magentaPulse; -moz-animation-duration: 2s;-moz-animation-iteration-count: infinite;}
.orange.button { -webkit-animation-name: orangePulse; -webkit-animation-duration: 3s;-webkit-animation-iteration-count: infinite; 
                 -moz-animation-name: orangePulse; -moz-animation-duration: 3s;-moz-animation-iteration-count: infinite;}
.orangellow.button { -webkit-animation-name: orangellowPulse; -webkit-animation-duration: 5s;-webkit-animation-iteration-count: infinite;
                     -moz-animation-name: orangellowPulse; -moz-animation-duration: 5s;-moz-animation-iteration-count: infinite; }


.page6 div{
    display: block;
    text-align: center;
    width: 790px;
    margin-top: 8px;
}

.page6 .wall-of-buttons{
    width:790px;
    position: absolute;
    left: 50%;
    margin-left: -395px;
}

#button_1{
    font-size: 40px;
    color:#FFF;
}

#button_2{
    font-size:30px;
    color:#FFF;
}

#button_3{
    font-size:30px;
    color:#FFF;
}

#button_4{
    font-size:30px;
    color:#FFF;
}

#button_5{
    font-size:30px;
    color:#FFF;
}

#button_6{
    font-size: 40px;
    color:#FFF;
}


/*------page6 end------*/

/*------page7 start----*/
#page7_title{
    font-family: Lato, 'Microsoft YaHei', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 2px #80bfff,2px 4px #003266;
    text-align: center;
    width: auto;
}
.intro{
    width:600px;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
}
.intro #inspiration{
    color:red;
}
.intro #code{
    color:green;
}
.intro #dream{
    color:blue;
}
.intro #future{
    color:orange;
}
.intro span{
    min-width: 50px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:30px;
    text-align: center;
    margin-right: 2px;
}
.list{
    width:536px;
    position: absolute;
    left: 50%;
    margin-left: -268px;
    text-align: center;
    display: block;
    clear: both;
}
.content {
    float: left;
    width:45px;
    height:45px;
    background:#ccc;
    margin:1px;
    padding:10px;
    text-align: center;
    border-radius: 120px;
}
.contact_form{
    text-align: center;
    margin-top:100px;
    display: block;
    clear: both;
}
.contact_form div{
    margin-top: 10px;
}
.contact_form span{
    font-size: 18px;
    font-weight: bold;
}

#page7 .content p{
    text-align: center;
    margin:5px;
    font-weight: bold;
    font-size: 25px;
}

