@charset "utf-8";
/*==============================css reset start==============================*/
*{margin:0;padding:0;}
/*article,aside,footer,header,hgroup,nav,section,audio,canvas,video {display: block;}*/
html {font-size:100px; color:#666; overflow: hidden;}
body{font-size: 0.4rem; overflow: hidden;}
ol,li{list-style: none;}
/*.ellipsis { white-space:nowrap; text-overflow:ellipsis; overflow:hidden}*/

body {
    color:#333;
    font-family:"Microsoft YaHei", Arial, Verdana, serif;
    font-size:14px;
    line-height:1.4;
    -webkit-user-select:none; /* forbid select */
    -webkit-touch-callout:none; /* forbid callout */

    background: url(../image/bg6.jpg) top left no-repeat;
}


/*------page1 start-----*/
.center{
    text-align: center;
}
.pp-tableCell{
    /*display: table-cell;*/
    position:absolute;
    width:432px;
    left:50%;
    margin-left:-216px;
    text-align: center;
    margin-top:50px;
}
#mars{
    width:256px;
    height:256px;
    border:10px solid #80bfff;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%
}
h1 {
    font-family: Lato, 'Microsoft YaHei', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 1px 2px #80bfff,2px 4px #003266;
    text-align: center;
}
#subtitle{
    font-size: 25px;
    color:#3399ff;
}
h4{
    font-size:20px;
}
.highlight{
    color:#1a8bff;
}
.highlight:hover{
    color:#008a75;
}

/*-------page1 end------*/
